
@font-face {
  font-family: 'Museo Slab';
  src: local('Museo Slab 100'), local('Museo-Slab-100'),
      url('../fonts/MuseoSlab-100.woff2') format('woff2'),
      url('../fonts/MuseoSlab-100.woff') format('woff'),
      url('../fonts/MuseoSlab-100.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo Slab 900';
  src: local('Museo Slab 900'), local('Museo-Slab-900'),
      url('../fonts/MuseoSlab-900.woff2') format('woff2'),
      url('../fonts/MuseoSlab-900.woff') format('woff'),
      url('../fonts/MuseoSlab-900.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html {
  min-width: min-content;
  flex-direction: column;
  background-size: 100% 100%;
  margin: 0px auto;
}

body {
  font-family: 'Museo Slab';
  display: flex;
  flex-direction: column;
  height: 100vh;
 
}
#bg-container{
  background-image: url('../images/fondoteclas.jpg');
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  
}

img {
  max-width: 100%;
}

a:focus,
input:focus,
textarea:focus,
button:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
}

i,
span,
a {
  display: inline-block;
  text-decoration: none;
}
#section {
  margin-top: auto;
}
#lineas {
  box-sizing: border-box;
  float: left;
  width: auto;
  height: auto;
  
} 

#logo {
  box-sizing: border-box;
  padding-right: 40px;
  padding-top: 90px;
  width: 90%;


}
#blog_content{
  display: flex;
  flex-direction: column-reverse;
  width: 100%;

}
#form{
  padding-bottom: 20px;
  margin: auto;
  margin-top: auto;
 
}
#title{
  margin-left: 100px;
  margin-top: 100px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-family:'Museo Slab', sans-serif;
  font-weight:100;
  color: #000000;
  margin: -29px;
  
}
h2 {
  font-family:'Museo Slab 900';
  font-style:normal;
  font-weight: bold;
  color:#933314 ;
  font-size: 76px;

}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 76px;
}

h4 {
  font-size: 22px;
  font-family: 'Museo Slab';
  color: #000000;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  padding: 0 40px;
  font-size: 16px;
  height: 55px;
  line-height: 55px;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-out 0s;
  background-color: #00456e;
}

.main-btn:hover {
  background-color:#007689;
  color: #fff;
}

footer{
  /* display: flex; */
  background-color: #00456e;
  /* bottom: 0;
  top: auto; */
  /* height: 100px; */
  padding-top: 15px;
  padding-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

/*===== All Section Title Style =====*/

@media (max-width: 1920px) {
  body {

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1920px;
    height: 100%;
    background-image: url('../images/fondodifu.jpg');
  
  }
  footer{
    background-color: #00456e;
    margin-top: auto;
    padding-top: 15px;
    padding-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }
 
}

@media (max-width: 1224px) {
  body {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url('../images/fondodifu.jpg');
  
  }

  #containerlogo {
    width: 90%;
  }
  #title {
    margin-left: 0px;
  }
  h2 {
    width: 80%;
  }
}

@media (max-width: 768px) {
  body {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-image: url('../images/fondodifu.jpg');
  
  }
  
  h1 {
    font-size: 86px;
  }

  h2 {
    font-size: 62px;
    /* margin-right: 53px; */
  }
  
  #teclas {
    text-align: center;
    width: 90%;
    display: none;
  }
  #subtitle {
    width: 80%;
  }

}
 
@media (min-width:300px) and (max-width: 600px) {
  body {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  footer{
    background-color: #00456e;
    margin-top: auto;
    padding-top: 15px;
    padding-bottom: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
  }

  h1 {
    font-size: 48px;
    margin-top: 10px;
    text-align: center;
    margin: 0px
  } 
    
  h2 {
    font-size: 35px;
    padding-top: 0px;
    align-content: center;
    /* margin-right: 53px; */
  }

  #teclados {
    display: none;
  }

  #lineas {
    width: 100%;
    height: 120%;
  }

  #subtitle {
    width: 80%;
  }
 
  #title {
    margin-left: 0px;
    margin-top: 0px;
  }

  #logo {
    padding-right: 11px;
    padding-top: 80px;
  }

}


/*===== All Preloader Style =====*/

/*===========================
    10.CONTACT css 
===========================*/
.contact_area {
  position: relative;
  z-index: 5;
}

.contact_area::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 42, 61, 0.9);
  z-index: -1;
}

p.form-message.success, p.form-message.error {
  font-size: 16px;
  color: #2B2A3D;
  background: #F9F9F9;
  padding: 10px 15px;
  margin-top: 30px;
  background-color: #fff;
  margin-left: 15px;
}

p.form-message.success.form-message.error, p.form-message.error.form-message.error {
  color: #f00;
}

.single_form {
  margin-top: 30px;
}

.single_form input,
.single_form textarea {
  width: 100%;
  height: 55px;
  border: 1px solid rgb(0 0 0 / 12%);
  padding: 0 25px;
  font-size: 16px;
  color:#5A5872;
  background: none;
  transition: all 0.3s ease-out 0s;
}

.single_form input:focus,
.single_form textarea:focus {
  border-color: #fff;
}

.single_form textarea {
  height: 170px;
  resize: none;
  padding-top: 15px;
}

/*===========================
    11.FOOTER css 
===========================*/
/* .footer_area {
  background-color: #00456e;
  padding-top: 15px;
  padding-bottom: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-top: auto;
  display: table;
} */
.footer_social ul {
  margin-top: 16px;
}

.footer_menu ul li {
  display: inline-block;
  padding-top: 5px;
}

.footer_menu ul li + li {
  margin-left: 30px;
}

@media (max-width: 767px) {
  .footer_menu ul li + li {
    margin-left: 15px;
  }
}

.footer_menu ul li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-out 0s;
}

.footer_menu ul li a:hover {
  color: #6f9d9d;
}

.credit {
  font-size: 16px;
  color: #fff;
  padding-top: 15px;
}

.credit a {
  color: #fff;
}

.footer_social ul li {
  display: inline-block;
}

.footer_social ul li + li {
  margin-left: 30px;
}

.footer_social ul li a {
  font-size: 26px;
  color: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-out 0s;
}

.footer_social ul li a:hover {
  color:#6f9d9d;
}

@media (max-width: 767px) {
  .footer_social ul li a {
    font-size: 20px;
  }
}


